@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./hero";
@import "./nav";
@import "./cards";
@import "./about";

$bgDark2: #111111;
$font2: "Oswald", sans-serif;

* {
	font-family: Poppins;
}

.font-2 {
	font-family: $font2;
}

.center {
	@apply flex items-center justify-center;
}

.container {
	max-width: 1100px;
	width: 100%;
}

.bg-dark-2 {
	background-color: $bgDark2;
}
